.grid {
  margin:1em auto; border-collapse:separate
  padding: 2px 2px;
  -moz-border-radius:    0px 26px 0px 0px;
}
.grid td {
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #4973ee;
  text-align:center;
  background-color: #4973ee;
  font-family:sans-serif; font-size:13px
  -moz-border-radius:    0px 26px 0px 0px;
  border-radius: 10px;
  padding: 15px 15px;
}

.grid td.norm {
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #4973ee;
  text-align:center;
  background-color: #4973ee;
  font-family:sans-serif; font-size:13px
  -moz-border-radius:    0px 26px 0px 0px;
  border-radius: 10px;
  padding: 15px 15px;
}
.grid td.clicked {
	background-color:  #c0ccf2 ;
	/*background: url("images/zero.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image
	background-repeat: no-repeat; /* Do not repeat the image
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked1 {
	background: url("images/videophreak-one.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked2 {
	background: url("images/videophreak-two.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked3 {
	background: url("images/videophreak-three.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked4 {
	background: url("images/videophreak-four.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked5 {
	background: url("images/videophreak-five.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked6 {
	background: url("images/videophreak-six.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked7 {
	background: url("images/videophreak-seven.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}
.grid td.clicked8 {
	background: url("images/videophreak-eight.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 32px 32px; /* Resize the background image to cover the entire container */
}

.grid td.bomb {
	background: url("images/bomb.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 25px 25px; /* Resize the background image to cover the entire container */
}
.grid td.flag {
	background: url("images/flag6.jpg") no-repeat scroll 0 0 transparent;
	color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 25px 25px; /* Resize the background image to cover the entire container */
  background-color: #4973ee;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

/* navbar */
input {
  width: 60px !important;
  font-family: videophreak;
}
output {
  color: red;
}

flagsOutput {
	color = white;
}

label {
  color: white;
  margin: 35px 20px;
  font-family: videophreak;
}

button {
  margin: 28px 20px;
  font-family: videophreak;
}

.navbar-brand {
  color: white !important;
  /*text-align: left !important;*/
  font-size: 400% !important;
  margin: 20px 0px;
  font-family: videophreak;
}

.flags {
  color: white !important;
  font-size: 130%;
  margin: 21px 20px;
  font-weight: bold;
}
/*https://www.1001fonts.com/video-game-fonts.html?page=6&items=10*/
@font-face {
  font-family: heavyloudedge;
  src: url("fonts/heavyloudedge/heavyloudedge_bold.ttf");
}

@font-face {
  font-family: videophreak;
  src: url("fonts/VIDEOPHREAK.ttf");
}

.flagsLeft {
	color: red;
}


/*@media screen and (min-width: 48em){ /*modify later for smaller screens
  .navbar-brand{
    color: green !important;
  }
}*/
/* /navbar */
