/*.navbar-default {
    background-color: #2b2d30;
    border-color: #E7E7E7;
}*/
.btn-success {
  margin: 12%;
}
.navbar-text{
    color: white;
}
.grid {
  margin:1em auto; border-collapse:collapse
}
.grid td {
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #ccc;
  text-align:center;
  font-family:sans-serif; font-size:13px
}
.grid td.clicked {
  background-color:grey;
}
.grid td.bomb {
  background-color:red;
}
