.grid {
  margin:1em auto; border-collapse:collapse
}
.grid td {
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #ccc;
  text-align:center;
  font-family:sans-serif; font-size:13px
}
.grid td.clicked {
  background-color:grey;
}
.grid td.bomb {
  background-color:red;
}
.grid td.clicked2 {
  background-color:green;
}
.grid td.clicked3 {
  background-color:blue;
}
.grid td.clicked4 {
  background-color:pink;
}
.grid td.clicked5 {
  background-color:yellow;
}
.grid td.clicked6 {
  background-color:orange;
}
.grid td.clicked7 {
  background-color:purple;
}
.grid td.clicked8 {
  background-color:black;
}
