.navbar-brand{ /*Minesweeper title text*/
  color: white !important;
  font-size: 200%;
}

.navbar-nav a{ /*settings text*/
  color: white !important;
}

.btn-success { /*reset button*/
  margin: 12%;
}

.navbar-text {
    color: white;
}

input {
  width:5% !important;
}
